<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Spring Security Example</title>
</head>
<body>
<nav class="navbar fixed-top navbar-dark bg-dark">
    <div class="container-fluid text-white d-flex align-items-center">
        <div class="d-flex align-items-center gap-1">
            <span class="fw-bold" th:text="${userIn.email}"></span>
            <span> with Roles: </span>
            <span th:text="${#strings.listJoin(userIn.roles.![#strings.replace(name, 'ROLE_', '')], ' ')}"></span>
        </div>
        <form th:action="@{/logout}" method="POST" class="m-0">
            <button type="submit" class="btn btn-secondary border-0 bg-transparent text-secondary">
                Logout
            </button>
        </form>
    </div>
</nav>
<br>
<br>

<div class="d-flex">
    <div class="nav flex-column nav-pills min-vh-100" aria-orientation="vertical" style="width: 220px;">
        <a class="nav-link active w-100 mt-3" th:href="@{/admin}">Admin</a>
        <a class="nav-link w-100 mt-3" th:href="@{/user}">User</a>
    </div>
    <div class="flex-grow-1 p-4 bg-body-secondary min-vh-100">
        <h2 class="mb-4">Страница администратора</h2>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-table-tab" data-bs-toggle="tab" data-bs-target="#nav-table" type="button" role="tab" aria-controls="nav-table" aria-selected="true">Таблица пользователей</button>
                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Создать пользователя</button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-table" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="card">
                    <div class="card-header fw-bold">Все пользователи</div>
                    <table class="table table-striped mb-0">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Email</th>
                            <th scope="col">Имя</th>
                            <th scope="col">Фамилия</th>
                            <th scope="col">Возраст</th>
                            <th scope="col">Цвет глаз</th>
                            <th scope="col">Роли</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${users}">
                            <td th:text="${user.id}"></td>
                            <td th:text="${user.email}"></td>
                            <td th:text="${user.name}"></td>
                            <td th:text="${user.secondName}"></td>
                            <td th:text="${user.age}"></td>
                            <td th:text="${user.eyeColor}"></td>
                            <td th:text="${#strings.listJoin(user.roles.![#strings.replace(name, 'ROLE_', '')], ' ')}"></td>
                            <td>
                                <button type="button"
                                        class="btn btn-info"
                                        data-bs-toggle="modal"
                                        th:attr="data-bs-target='#editModal__' + ${user.id}">
                                    Edit
                                </button>
                            </td>
                            <td>
                                <button type="button"
                                        class="btn btn-danger"
                                        data-bs-toggle="modal"
                                        th:attr="data-bs-target='#deleteModal__' + ${user.id}">
                                    Delete
                                </button>
                            </td>
                            <div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true"
                                 th:id="'editModal__' + ${user.id}">
                                <div class="modal-dialog">
                                    <div class="modal-content d-flex">
                                        <form method="POST" th:action="@{/admin/edit}">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="editModalLabel">Edit User</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="mb-3 center">
                                                    <label for="id" class="form-label text-center fw-bold w-100">ID</label>
                                                    <input type="text" class="form-control mx-auto bg-body-secondary" id="id" style="width: 220px;" name="id" th:value="${user.id}" readonly>
                                                </div>
                                                <div class="mb-3 center">
                                                    <label for="form" class="form-label text-center fw-bold w-100">Email</label>
                                                    <input type="email" class="form-control mx-auto" id="form" style="width: 220px;" name="email" th:value="${user.email}">
                                                </div>
                                                <div class="mb-3 center">
                                                    <label for="name" class="form-label text-center fw-bold w-100">Имя</label>
                                                    <input type="text" class="form-control mx-auto" id="name" style="width: 220px;" name="name" th:value="${user.name}">
                                                </div>
                                                <div class="mb-3 center">
                                                    <label for="secondName" class="form-label text-center fw-bold w-100">Фамилия</label>
                                                    <input type="text" class="form-control mx-auto" id="secondName" style="width: 220px;" name="secondName" th:value="${user.secondName}">
                                                </div>
                                                <div class="mb-3 center">
                                                    <label for="eyeColor" class="form-label text-center fw-bold w-100">Цвет глаз</label>
                                                    <input type="text" class="form-control mx-auto" id="eyeColor" style="width: 220px;" name="eyeColor" th:value="${user.eyeColor}">
                                                </div>
                                                <div class="mb-3 center">
                                                    <label for="age" class="form-label text-center fw-bold w-100">Возраст</label>
                                                    <input type="number" class="form-control mx-auto" id="age" style="width: 220px;" name="age" th:value="${user.age}">
                                                </div>
                                                <div class="mb-3 center">
                                                    <label for="password" class="form-label text-center fw-bold w-100">Пароль</label>
                                                    <input type="text" class="form-control mx-auto" id="password" style="width: 220px;" name="password" th:value="${user.password}">
                                                </div>
                                                <div class="mb-3 center">
                                                    <label for="role" class="form-label text-center fw-bold w-100">Роль</label>
                                                    <select name="roleId" class="form-select mx-auto" id="role" style="width: 220px;">
                                                        <option th:value="1">USER</option>
                                                        <option th:value="2">ADMIN</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Edit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true"
                                 th:id="'deleteModal__' + ${user.id}">
                                <div class="modal-dialog">
                                    <div class="modal-content d-flex">
                                        <form method="POST" th:action="@{/admin/delete(id=${user.id})}">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="deleteModalLabel">Delete User</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="mb-3 center">
                                                    <label for="id" class="form-label text-center fw-bold w-100">ID</label>
                                                    <input type="text" class="form-control mx-auto bg-body-secondary" style="width: 220px;" th:value="${user.id}" readonly>
                                                </div>
                                                <div class="mb-3 center">
                                                    <label for="form" class="form-label text-center fw-bold w-100">Email</label>
                                                    <input type="text" class="form-control mx-auto bg-body-secondary" style="width: 220px;" th:value="${user.email}" readonly>
                                                </div>
                                                <div class="mb-3 center">
                                                    <label for="name" class="form-label text-center fw-bold w-100">Имя</label>
                                                    <input type="text" class="form-control mx-auto bg-body-secondary" style="width: 220px;" th:value="${user.name}" readonly>
                                                </div>
                                                <div class="mb-3 center">
                                                    <label for="secondName" class="form-label text-center fw-bold w-100">Фамилия</label>
                                                    <input type="text" class="form-control mx-auto bg-body-secondary" style="width: 220px;" th:value="${user.secondName}" readonly>
                                                </div>
                                                <div class="mb-3 center">
                                                    <label for="eyeColor" class="form-label text-center fw-bold w-100">Цвет глаз</label>
                                                    <input type="text" class="form-control mx-auto bg-body-secondary" style="width: 220px;" th:value="${user.eyeColor}" readonly>
                                                </div>
                                                <div class="mb-3 center">
                                                    <label for="age" class="form-label text-center fw-bold w-100">Возраст</label>
                                                    <input type="text" class="form-control mx-auto bg-body-secondary" style="width: 220px;" th:value="${user.age}" readonly>
                                                </div>
                                                <div class="mb-3 center">
                                                    <label for="password" class="form-label text-center fw-bold w-100">Пароль</label>
                                                    <input type="text" class="form-control mx-auto bg-body-secondary" style="width: 220px;" th:value="${user.password}" readonly>
                                                </div>
                                                <div class="mb-3 center">
                                                    <label for="role" class="form-label text-center fw-bold w-100">Роль</label>
                                                    <input type="text" class="form-control mx-auto bg-body-secondary" style="width: 220px;" th:value="${#strings.listJoin(user.roles.![#strings.replace(name, 'ROLE_', '')], ' ')}" readonly>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="card">
                    <div class="card-header fw-bold">Создать</div>
                    <form th:method="POST" th:action="@{/registration}">
                        <div class="mb-3 center">
                            <input type="hidden" class="form-control mx-auto bg-body-secondary" id="id" style="width: 220px;" name="id">
                        </div>
                        <div class="mb-3 center">
                            <label for="form" class="form-label text-center fw-bold w-100">Email</label>
                            <input type="email" class="form-control mx-auto" id="form" style="width: 220px;" name="email">
                        </div>
                        <div class="mb-3 center">
                            <label for="name" class="form-label text-center fw-bold w-100">Имя</label>
                            <input type="text" class="form-control mx-auto" id="name" style="width: 220px;" name="name">
                        </div>
                        <div class="mb-3 center">
                            <label for="secondName" class="form-label text-center fw-bold w-100">Фамилия</label>
                            <input type="text" class="form-control mx-auto" id="secondName" style="width: 220px;" name="secondName">
                        </div>
                        <div class="mb-3 center">
                            <label for="eyeColor" class="form-label text-center fw-bold w-100">Цвет глаз</label>
                            <input type="text" class="form-control mx-auto" id="eyeColor" style="width: 220px;" name="eyeColor">
                        </div>
                        <div class="mb-3 center">
                            <label for="age" class="form-label text-center fw-bold w-100">Возраст</label>
                            <input type="number" class="form-control mx-auto" id="age" style="width: 220px;" name="age">
                        </div>
                        <div class="mb-3 center">
                            <label for="password" class="form-label text-center fw-bold w-100">Пароль</label>
                            <input type="password" class="form-control mx-auto" id="password" style="width: 220px;" name="password">
                        </div>
                        <div class="mb-3 center">
                            <label for="role" class="form-label text-center fw-bold w-100">Роль</label>
                            <select name="roleId" class="form-select mx-auto" id="role" style="width: 220px;">
                                <option th:value="1">USER</option>
                                <option th:value="2">ADMIN</option>
                            </select>
                        </div>
                        <div class="d-grid gap-2 col-4 mx-auto">
                            <button type="submit" class="btn btn-success">Создать</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
